# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Fire Rides.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\fhrom\Desktop\Fire Rides\.idea\.idea.Fire Rides\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
